/* Общие стили */
body {
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


/* Центровщик*/
.center {
  width: 1160px;
  padding: 0 20px;
  margin: auto;
}


/* Общие стили кнопок */
.button {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  margin: 0;
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  border-radius: 3px;
  text-decoration: none;
}
button:active {
  outline: none;
}


/* Красная кнопка */
.button-red {
  background-color: #fb565a;
}
.button-red:hover {
  background-color: #e74246;
}
.button-red:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
  box-shadow: inset 0 2px #c13135;
}


/* Зеленая кнопка */
.button-green {
  background: #00ca74;
}
.button-green:hover {
  background: #00bc6c;
}
.button-green:active {
  color: rgba(255, 255, 255, 0.3);
  background: #00aa62;
  box-shadow: inset 0 2px #009958;
}


/* Желтая кнопка */
.button-yellow {
  background: #efc84a;
}
.button-yellow:hover {
  background: #eab534;
}
.button-yellow:active {
  color: rgba(255, 255, 255, 0.3);
  background: #e5a722;
  box-shadow: inset 0 2px #ce961f;
}


/* Серая кнопка */
.button-gray {
  color: black;
  background: #eeeeee;
}
.button-gray:hover {
  background: #dfdfdf;
}
.button-gray:active {
  color: rgba(0, 0, 0, 0.3);
  background: #d5d5d5;
  box-shadow: inset 0 2px #bfbfbf;
}


/* Шапка */
.header {
  padding-top: 50px;
  padding-bottom: 18px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  background: #eeeeee;
}


/* Логотип */
.logo {
  width: 160px;
  height: 65px;
  float: left;
}
.logo img {
  width: 160px;
  height: 65px;
}
.logo:hover {
  opacity: 0.8;
}
.logo img:active  {
  opacity: 0.4;
}



/* Навигация */
.nav {
  width: 440px;
  margin-left: 200px;
  padding-top: 25px;
  float: left;
}
.nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav li {
  width: 110px;
  float: left;
  text-align: center;
}
.nav li:first-child {
  text-align: left;
}
.nav li:last-child {
  text-align: right;
}
.nav a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}
.nav a:hover {
  color: #fb565a;
}
.nav a:active {
  color: black;
  opacity: 0.3;
}
.nav .nav-active {
  border-bottom: 2px solid #fb565a;
  color: black;
}
.nav .nav-active:hover,
.nav .nav-active:active {
  color: black;
}


/* Корзина */
.cart {
  padding-top: 25px;
  float: right;
}
.cart a {
  display: inline-block;
  position: relative;
  padding-left: 40px;
  color: inherit;
  text-decoration: none;
}
.cart a::before {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  left: 0;
  top: 7px;
  background: url("../img/cart.png");
  opacity: 0.3;
}
.cart a:hover {
  color: #fb565a;
}
.cart a:active {
  color: #a6a6a6;
}
.cart .nav-active {
  border-bottom: 2px solid #fb565a;
  color: black;
}
.cart .nav-active:hover,
.cart .nav-active:active {
  color: black;
}


/* Слайдер */
.slider{
  background: #eee;
}
.slider .center {
  width: 1160px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.slider-controls{
  position: absolute;
  bottom: 104px;
  left: 50%;
  width: 200px;
  height: 10px;
  margin-left: -100px;
  text-align: center;
  z-index: 1000;
}
.slider-controls label{
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0 7px;
  background: white;
  border: 3px solid white;
  vertical-align: top;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}
.slider input {
  display: none;
}
#btn-1:checked ~ .slider-controls label[for="btn-1"]::before,
#btn-2:checked ~ .slider-controls label[for="btn-2"]::before,
#btn-3:checked ~ .slider-controls label[for="btn-3"]::before { 
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  border: 2px solid #c1c1c1;
  top: 50%;
  left: 50%;
  margin-top: -4px;
  margin-left: -4px;
  border-radius: 50%;
}
.slider-controls .active{
  background: #c1c1c1;
}
.slide {
  padding-top: 60px;
  padding-bottom: 80px;
}
.slide:nth-child(1){
  background-image: url('../img/slide1.png');
  background-repeat: no-repeat;
  background-position: 432px 0;
}
.slide:nth-child(2){
    background-image:url('../img/slide2.png');
    background-repeat:no-repeat;
    background-position:100% 10px;
}
.slide:nth-child(3){
    background-image:url('../img/slide3.png');
    background-repeat:no-repeat;
    background-position:100% 10px;
}
.slide{
    display:none;
}
#btn-1:checked ~ .slides .slide:nth-child(1) { 
    display: block;
}
#btn-2:checked ~ .slides .slide:nth-child(2) { 
    display: block;
}
#btn-3:checked ~ .slides .slide:nth-child(3) { 
    display: block;
}
.slide:nth-child(3){
    background-image:url('../img/slide3.png');
    background-repeat:no-repeat;
    background-position:100% 10px;
}
.slide-desc b {
  display: block;
  margin-bottom: 25px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}
.slide-desc p {
  margin: 0;
  margin-bottom: 40px;
}
.slide-desc .button {
  padding-left: 55px;
  padding-right: 55px;
}


/* Контент */
.content {
  display: block;
  width: 1160px;
  padding: 0 20px;
  margin: auto;
}


/* Блок преимуществ */
.benefit-list {
  margin-top: 80px;
  margin-bottom: 80px;
}
.benefit-item {
  width: 300px;
  float: left;
  padding-top: 146px;
  margin-right: 100px;
}
.benefit-item:last-child {
  margin-right: 0;
}
.benefit-item h2 {
  margin-top: 25px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}
.benefit-item p {
  margin-right: 20px;
  margin-bottom: 30px;
}
.benefit-list .button {
  padding-left: 40px;
  padding-right: 40px;
}
.img-red {
  background: #ffffff url("../img/adv-red.png") no-repeat;
}
.img-green {
  background: #ffffff url("../img/adv-green.png") no-repeat;
}
.img-yellow {
  background: #ffffff url("../img/adv-yellow.png") no-repeat;
}


/* Основная информация и описание */
.index-wrap {
  border-top: 2px solid #eeeeee;
  padding-top: 40px;
  margin-bottom: 72px;
}


/* Левая сторона */
.info-left {
  width: 660px;
  float: left;
  margin-top: 35px;
}
.info-left b {
  display: block;
  margin-bottom: 32px;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}
.info-left p {
  margin-bottom: 40px;
}
.info-left h2 {
  margin-bottom: 24px;
  font-size: inherit;
  line-height: inherit;
  font-weight: 700;
  text-transform: uppercase;
}
.info-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.info-item {
  position: relative;
  margin-bottom: 24px;
  padding-left: 35px;
}
.info-item:last-child {
  margin: 0;
}
.info-item::before {
  content:"";
  position: absolute;
  top: 12px;
  left: 0;
  width: 25px;
  height: 2px;
  background: #fb565a;
}


/* Правая сторона */
.info-right {
  width: 360px;
  float: right;
}
.info-right img {
  display: block;
  width: 360px;
  height: 209px;
  margin-bottom: 36px;
}
.info-right b {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 32px;
}
.percent-wrap {
  font-size: 0;
}
.percent-inner {
  width: 120px;
  display: inline-block;
  vertical-align: bottom;
}
.percent-num {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 18px;
}
.percent-num span {
  font-size: 0.6em;
  vertical-align: super;
}
.percent-desc {
  font-size: 16px;
  line-height: 18px;
  margin: 0;
}


/* Список вебсайтов с ссылками */
.website-list {
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
  margin-bottom: 80px;
  overflow: hidden;
}
.website-item {
  float: left;
  width: 260px;
  height: 180px;
  margin: 0 20px;
  text-align: center;
  font-size: 0;
  line-height: 180px;
  position: relative;
}
.website-item:first-child {
  margin-left: 0;
}
.website-item:last-child {
  margin-right: 0;
}
.website-item::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 52px;
  background: #eeeeee;
  right: -19px;
  top: 64px;
}
.website-item img {
  vertical-align: middle;
}
.website-item a {
  opacity: 0.2;
}
.website-item a:hover {
  opacity: 1;
}
.website-item img:active {
  opacity: 0.1;
}




/* Карта */
.map {
  position: relative;
  height: 416px;
}
.map iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 0;
}
.map-inner {
  margin-top: 54px;
  margin-bottom: 30px;
  
  position: relative;  
  float: left;
  width: 220px;
  padding: 50px;
  padding-bottom: 46px;
  background: white;
}
.map-inner h2 {
  margin: 0;
  margin-bottom: 22px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  background: white;
}
.map-inner p {
  margin: 0;
  margin-bottom: 18px;
  font-size: 16px;
  line-height: 18px;
  color: #707070;
}
.map-inner p:last-of-type {
  margin-bottom: 38px;
}
.map-inner .button {
  width: 100%;
}


/* Форма обратной связи */
.feedback {
  position: absolute;
  z-index: 1000;
  left: 50%;
  margin-left: -480px;
  bottom: -38px;
  width: 760px;
  background: white;
  padding: 68px 100px 84px 100px;
  box-shadow: 0 20px 40px 5px #a2a2a2;
}
.feedback b {
  display: block;
  font-size: 45px;
  line-height: 45px;
  margin-bottom: 38px;
}
.feedback-wrap {
  margin-bottom: 30px;
}
.feedback-data {
  float: left;
  width: 360px;
}
.feedback-data:last-child {
  float: right;
}
.feedback p {
  font-weight: bold;
  margin: 0;
  padding: 0;
  margin-bottom: 6px;
}
.feedback input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 50px;
  padding: 14px;
  border: 2px solid #d7dcde;
  border-radius: 3px;
}


/* Поле ввода в покое */
.feedback input::-webkit-input-placeholder {
  color: rgba(68, 68, 68, 0.5);
}
.feedback input::-moz-placeholder {
  color: rgba(68, 68, 68, 0.5);
}
.feedback input:-ms-input-placeholder {
  color: rgba(68, 68, 68, 0.5);
}


/* Поле ввода при наведении */
.feedback input:hover {
  border-color: #b4b9bb;
}


/* Поле ввода в фокусе */
.feedback input:focus {
  color: rgba(68, 68, 68, 1);
  border-color: #000000;
  outline: none;
}
.feedback input:focus::-webkit-input-placeholder {
  color: rgba(68, 68, 68, 1);
}
.feedback input:focus::-moz-placeholder {
  color: rgba(68, 68, 68, 1);
}
.feedback input:focus:-ms-input-placeholder {
  color: rgba(68, 68, 68, 1);
}


/* Поле ввода при неправильном значении */
.feedback input:invalid {
  color: rgba(231, 66, 70, 1);
  border-color: #e74246;
  outline: none;
}
.feedback input:invalid::-webkit-input-placeholder {
  color: rgba(231, 66, 70, 1);
}
.feedback input:invalid::-moz-placeholder {
  color: rgba(231, 66, 70, 1);
}
.feedback input:invalid:-ms-input-placeholder {
  color: rgba(231, 66, 70, 1);
}


/* Зона текста */
.feedback textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 118px;
  padding: 12px;
  border-radius: 3px;
  border: 2px solid #d7dcde;
  color: rgba(68, 68, 68, 0.5);
  margin-bottom: 48px;
}
.feedback textarea:hover {
  border-color: #b4b9bb;
}
.feedback textarea:focus {
  border-color: #000000;
  color: rgba(68, 68, 68, 1);
  outline: none;
}
.feedback textarea:invalid {
  color: rgba(231, 66, 70, 1);
  border-color: #e74246;
  outline: none;
}

/* Кнопка */
.feedback button {
  border: none;
  width: 260px;
}


/* Крестик */
.feedback .close {
  position: absolute;
  top: 78px;
  right: 90px;
  width: 21px;
  height: 21px;
  background: url("../img/close.png");
  opacity: 0.3;
}
.feedback .close:hover {
  opacity: 1;
}
.feedback .close:active {
  opacity: 0.1;
}

















/* Подвал*/
.footer {
  width: 1160px;
  padding: 70px 20px;
  margin: auto;
}
.social-wrap {
  width: 260px;
  float: left;
}
.social-wrap a {
  background-color: #e1e1e1;
  float: left;
  width: 80px;
  height: 80px;
  font-size: 0;
  margin: 0 5px;
  border-radius: 50%;
  position: relative;
}
.social-wrap a:first-child {
  margin-left: 0;
}
.social-wrap a:last-child {
  margin-right: 0;
}
.social-wrap a:hover {
  background-color: #e74246;
}
.social-wrap a:active {
  background-color: #d7373b;
  box-shadow: inset 0 2px #c13135;
}
.social-wrap a::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: 50%;
  left: 50%;
  margin-top: -15px;
  margin-left: -15px;
  background: yellow;
}
.social-wrap a:active::before {
  opacity: 0.3;
}
.social-wrap .vk::before {
  background: url("../img/icon-vk.png") no-repeat 50% 50%;
}
.social-wrap .fb::before {
  background: url("../img/icon-fb.png") no-repeat 50% 50%;
}
.social-wrap .inst::before {
  background: url("../img/icon-inst.png") no-repeat 50% 50%;
}
.footer-text {
  float: left;
  margin-left: 140px;
}
.footer-text b {
  display: block;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 10px;
}
.footer-text p {
  line-height: 22px;
  margin: 0;
}


/* Заголовок каталога*/
.page-heading {
  padding-top: 60px;
  padding-bottom: 107px;
  text-align: center;
  background: #eeeeee;
}
.page-heading h1 {
  margin: 0;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}


/* Левая колонка */
.column-left {
  width: 260px;
  margin-top: 55px;
  float: left;
}


/* Основная форма */
.form-filter b {
  display: block;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;  
}


/* Стоимость: */
.range-filter {
  margin-bottom: 55px;
}
.range-filter b {
  margin-bottom: 48px;
}
.range-control {
  position: relative;
  height: 41px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 14px;
  border-radius: 5px;
  background: #eeeeee;
}
.range-control .scale {
  height: 2px;
  background: #d7dcde;
}
.range-control .bar {
  width: 142px;
  height: 2px;
  background: #00ca74;
}
.range-control .toggle {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 4px;
  height: 4px;
  cursor: pointer;
  border: 8px solid #ffffff;
  border-radius: 50%;
  background: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
}
.range-control .toggle-min {
  left: 18px;
}
.range-control .toggle-max {
  left: 160px;
}
.price-control {
  font-size: 0;
}
.price-control label {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  line-height: 22px;
  width: 50%;
  text-transform: uppercase;
}
.price-max {
  text-align: right;
}
.price-control input {
  width: 60px;
  margin-left: 8px;
  padding: 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 3px;
  background: #f1f1f1;
}


/* Сетка: */
.layout-filter {
  margin-bottom: 35px;
}
.layout-filter b {
  margin-bottom: 6px;
}
.layout-radio {
  background: white;
  line-height: 20px;
}
.layout-radio label {
  position: relative;
  font-size: 16px;
  line-height: 40px;
  color: #283136;
}
.layout-radio input {
  display: none;
}
.layout-radio span {
  margin-left: 36px;
}
.layout-radio span::before {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.layout-radio label:hover {
  color: black;
}
.layout-radio input:disabled + label {
  color: #d0d2d3;
}
.layout-radio input:checked + label span::before {
  background: url("../img/radio-on.png");
  opacity: 0.4;
}
.layout-radio input:checked + label:hover span::before {
  background: url("../img/radio-on.png");
  opacity: 1;
}
.layout-radio input:not(:checked) + label span::before {
  background: url("../img/radio-off.png");
  opacity: 0.4;
}
.layout-radio input:not(:checked) + label:hover span::before {
  background: url("../img/radio-off.png");
  opacity: 1;
}
.layout-radio input:disabled + label span::before {
  opacity: 0.1;
}
.layout-radio input:disabled + label:hover span::before {
  opacity: 0.1;
}


/* Особенности: */
.feature-filter {
  margin-bottom: 40px;
}
.feature-filter b {
  margin-bottom: 6px;
}
.feature-checkbox {
  background: white;
  line-height: 20px;
}
.feature-checkbox label {
  position: relative;
  font-size: 16px;
  line-height: 40px;
  color: #283136;
}
.feature-checkbox input {
  display: none;
}
.feature-checkbox span {
  margin-left: 36px;
}
.feature-checkbox span::before {
  content: "";
  width: 27px;
  height: 25px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.feature-checkbox label:hover {
  color: black;
}
.feature-checkbox input:disabled + label {
  color: #d0d2d3;
}
.feature-checkbox input:checked + label span::before {
  background: url("../img/checkbox-on.png") no-repeat;
  opacity: 0.4;
}
.feature-checkbox input:checked + label:hover span::before {
  background: url("../img/checkbox-on.png") no-repeat;
  opacity: 1;
}
.feature-checkbox input:not(:checked) + label span::before {
  background: url("../img/checkbox-off.png") no-repeat;
  opacity: 0.4;
}
.feature-checkbox input:not(:checked) + label:hover span::before {
  background: url("../img/checkbox-off.png") no-repeat;
  opacity: 1;
}
.feature-checkbox input:disabled + label span::before {
  opacity: 0.1;
}
.feature-checkbox input:disabled + label:hover span::before {
  opacity: 0.1;
}


/*Кнопка отправки формы*/
.form-filter button {
  border: 0;
  width: 100%;
  font-weight: 700;
}


/* Правая колонка в контенте */
.column-right {
  width: 760px;
  margin-top: 55px; 
  float: right;
}


/* Варианты сортировки */
.sorting {
  margin-bottom: 18px;
  height: 24px;
}
.sorting b {
  width: 160px;
  float: left;
  font-size: 18px;
  text-transform: uppercase;
  vertical-align: middle;
  line-height: 24px;
}
.sorting-list {
  width: 280px;
  margin-left: 240px;
  float: left;
  font-size: 0;
}
.sorting-list a {
  display: inline-block;
  vertical-align: bottom;
  font-size: 14px;
  line-height: 18px;
  color: black;
  opacity: 0.3;
  text-transform: uppercase;
  text-decoration: none;
  width: 85px;
}
.sorting-list a:last-child {
  width: 110px;
}
.sorting-list a:hover {
  opacity: 0.6;
}
.sorting-list a:active {
  opacity: 1;
}
.sorting-list .sorting-active {
  opacity: 1;
}
.sorting-list .sorting-active:hover,
.sorting-list .sorting-active:active{
  opacity: 1;
}

/* Треугольники*/
.sorting-triangles {
  float: right;
  width: 60px;
}
.sorting-triangles div {
  float: left;
  width: 30px;
  height: 24px;
  position: relative;
}
.max-min a {
  position: absolute;
  border: 5px solid transparent;
  border-top: 10px solid #000000;
  font-size: 0;
  right: 0;
  top: 50%;
  margin-top: -4px;
  color: black;
  opacity: 0.2;
}
.max-min a:hover {
  opacity: 0.4;
}
.max-min a:active {
  opacity: 1;
}
.max-min .triangle-active,
.max-min .triangle-active:hover,
.max-min .triangle-active:active {
  opacity: 1;
}
.min-max a {
  position: absolute;
  border: 5px solid transparent;
  border-bottom: 10px solid #000000;
  font-size: 0;
  right: 0;
  bottom: 50%;
  margin-bottom: -4px;
  opacity: 0.2;
}
.min-max a:hover {
  opacity: 0.4;
}
.min-max a:active {
  opacity: 1;
}
.min-max .triangle-active,
.min-max .triangle-active:hover,
.min-max .triangle-active:active {
  opacity: 1;
}


/* Список товаров */
.goods-wrap {
  font-size: 0;
  margin-bottom: 64px;
}


/* Товар */
.goods {
  display: inline-block;
  vertical-align: top;
  width: 360px;
  height: 616px;
  margin-top: 36px;
  margin-right: 40px;
  position: relative;
  font-size: 18px;
  background: #e5e5e5;
}
.goods:hover {
  box-shadow: 0 6px 16px #cfcfcf;
}
.goods:nth-child(2n) {
  margin-right: 0;
}
.goods-top {
  background-color: #e9e9e9;
  padding: 8px 16px;
  font-size: 0;
  border-radius: 3px 3px 0 0;
}
.goods-top span {
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 14px;
  margin-right: 8px;
  border-radius: 50%;
  background: #ffffff;
}
.goods:hover .goods-top {
  background-color: #4d4d4d;
  border-radius: 3px 3px 0 0;
}
.goods img {
  display: block;
  width: 360px;
  height: 576px;
}
.goods-bottom {
  display: none;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: #eeeeee;
  padding-top: 26px;
  text-align: center;
}
.goods:hover .goods-bottom {
  display: block;
}
.goods-bottom b {
  display: block;
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}
.goods-bottom p {
  margin-bottom: 30px;
  line-height: 18px;
  text-align: center;
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}
.goods-bottom .button {
  width: 200px;
  margin-bottom: 43px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
}
.goods-bottom .button:hover {
  background: #e74246;
}
.goods-bottom .button:active {
  box-shadow: inset 0 2px #c13135;
  background: #d7373b;
} 


/* Пагинатор */
.paginator {
  margin-bottom: 60px;
  padding: 0;
  list-style: none;
}
.paginator li {
  float: left;
  width: 50px;
  height: 50px;
  margin-right: 11px;
  background: #eeeeee;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
}
.paginator .page-link {
  position: relative;
  z-index: 10;
  display: block;
  height: 100%;
  color: black;
  font-weight: 700;
  text-decoration: none;
}
.paginator .page-link:hover {
  background: #dfdfdf;
}
.paginator .page-link:active {
  color: rgba(0, 0, 0, 0.3);
  background: #d5d5d5;
  box-shadow: inset 0 2px #bfbfbf;
}
.paginator .page-active {
  background: white;
  box-shadow: inset 0 0 0 3px #eeeeee;
}
.paginator .page-active:hover,
.paginator .page-active:active {
  color: black;
  background: white;
  box-shadow: inset 0 0 0 3px #eeeeee;
}
.paginator .button {
  padding-left: 78px;
  padding-right: 78px;
  font-weight: 700;
}